<body>
    <h1>Register Your Home Here: </h1>
        <form action="/host/home-added" method="POST">
        <input placeholder="enter your name of house" type="text" name="houseName"></input>
        <button type="submit">submit</button>
        </form>         
</body>
</html>