<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
    <%- include('../partials/bootstrap') %>
  </head>
  <body>
    <section><%- include('../partials/nav') %></section>
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 border">
            <h1 class="my-3 text-center">Edit Your Home Here:</h1>
            <form
              action='/host/edit-home'
              method="POST"
              class="form-control mb-3 text-center"
            >
              <input
                type="text"
                value="<%= home.houseName %>"
                name="houseName"
                placeholder="Enter your House Name"
                class="form-control mb-3"
              />
              <input
                type="text"
                name="price"
                value="<%= home.price %>"
                placeholder="Enter Price Per Night"
                class="form-control mb-3"
              />
              <input type="submit" value="update home" class="btn btn-success" />
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
