<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home added successfully</title>
    <%- include('../partials/bootstrap') %>
  </head>
  <body>
    <section><%- include('../partials/nav') %></section>
    <section>
      <div class="container border">
        <div class="row">
          <h1>Register home successfully</h1>
          <a href="/">go To Home</a>
        </div>
      </div>
    </section>
  </body>
</html>
