<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
    <link rel="stylesheet" href="style.css" />
    <%- include('../partials/bootstrap') %>
  </head>
  <body>
    <section><%- include('../partials/nav') %></section>
    <section>
      <div class="container border">
        <h1>Welcome to airbnb</h1>
        <p>Here are all homes Listed</p>
        <a href="../host/add-home" class="">Add Home</a>
      </div>
    </section>
  </body>
</html>
