<%- include("partials/head") %>
<body>
    <%- include("partials/nav") %>
    <section class="border">
        <h1>Here are our register Homes</h1>
        <ul>
            <% registerHomes.forEach(home => { %>
                <li>
                    <%= home.houseName%>
                </li>
            <% }) %>
        </ul>
        <a href="host/add-home" class="">Add Home</a>    
    </section>
</body>
</html> 