
    <header>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/add-homes">add homes</a></li>
            <li><a href="/home-added">Home register successful</a></li>
        </ul>
    </header>